main {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
  padding-left: 100px;

  display: flex;
  align-items: flex-end;
  // background-color: blue;
  background-image: url("./Background.jpg");
  background-position: 30% 60%;
  filter: brightness(0.2);
}

div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  // background-color: red;
}
