main {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
  padding-left: 100px;

  display: flex;
  align-items: flex-end;
  // background-color: blue;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("./Background.jpg");
    background-position: 30% 60%;
    filter: brightness(0.2);
    z-index: -1;
  }
}

div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
}
