@font-face {
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Jersey10.ttf") format("truetype");
}

* {
  font-family: "Jersey 10";
}

#MainTitle {
  position: absolute;

  top: 50px;
  right: 200px;

  color: yellow;

  h1 {
    font-size: 160px;
    text-shadow: 4px -4px 0 red;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("./img/Background.jpg");
    background-position: 30% 60%;
    filter: brightness(0.15);
    z-index: -1;
  }
}

button {
  background: none;
  border: none;

  color: white;

  font-size: 40px;

  &:hover {
    cursor: pointer;
    transform: translate(10px, 0);
    color: yellow;
    text-shadow: 2px -2px 0 red;
  }
}

.Back {
  position: absolute;
  top: 30px;
  left: 30px;
  button {
    font-size: 30px;
  }
}
